.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.quiz-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  max-width: 600px;
  text-align: center;
}

h3 {
  margin-top: 20px;
}

.question-container {
  display: flex;

  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}